@import "../../Model.scss";

.portfolio--detail-container {
  text-align: center;
}

.portfolio--detail-container img {
  width: 100%;
}

.portfolio--detail-container h3 {
  font-size: 23px;
  font-weight: 400;
}

.portfolio-detail-image {
  margin: 20px 0 12px;
}

.portfolio-links li {
  padding: 40px 0px;
  width: 25%;
  text-align: center;
}

.link-badge {
  width: 200px !important;
  min-height: 66px !important;
}

.app-store-badge,
.google-play-badge {
  width: 200px;
}

@media screen and (max-width: 781px) {
  .portfolio-links li {
    width: 100%;
  }
}
