@import "../../Model.scss";

#about-me {
  display: flex;
  flex-wrap: wrap;
  h3 {
    font-weight: 400;
    margin: 12px 0;
  }
}

#externalLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}

#skill-sets ul, #my-values ul, #privateProjects ul {
  display: flex;
}

#skill-sets .four-elements {
  display: block;
  width: 23%;
  margin: 2% 2% 2% 0%;
}

.app-big-icon svg {
  width: 40px;
  height: 40px;
}

#my-values .three-elements {
  width: 30%;
  margin: 3% 3% 3% 0;
}

#privateProjects {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px
  }
  .privateProject-container {
    width: 49%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 781px) {
  #skill-sets .four-elements,
  #my-values .three-elements,
  #privateProjects .three-elements {
    width: 100%;
  }

  #about-me {
    flex-wrap: wrap-reverse;
    gap: 32px;
  }

  #externalLinks {
    gap: 0px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  #skill-sets ul, #my-values ul, #privateProjects ul {
    flex-direction: column;
  }

  #skill-sets ul.icon, #privateProjects .privateProject-description .icons-ul {
    flex-direction: row;
  }

  #privateProjects .privateProject-container {
    width: 100%;
  }
}
