@import "../../Model.scss";

#about-me {
  display: flex;
  flex-wrap: wrap;
  h3 {
    font-weight: 400;
    margin: 12px 0;
  }
}

#externalLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}

#experiences-container {
  .experience {
    margin-top: 36px;
  }
  .experience-headline {
    display: flex;
    align-items: baseline;
    gap: 24px;
    p {
      margin: 0;
    }
  }
  h3 { 
    margin: 0;
  }
  .company-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
    color: gray;
  }
  .job-contents {
    list-style: disc;
    padding: initial;
    margin: initial;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    line-height: 28px;
  }
}

#skill-sets ul, #my-values ul, #privateProjects ul {
  display: flex;
}

#skill-sets .four-elements {
  display: block;
  width: 23%;
  margin: 2% 2% 2% 0%;
}

.app-big-icon svg {
  width: 40px;
  height: 40px;
}

#my-values .three-elements {
  width: 30%;
  margin: 3% 3% 3% 0;
}

#privateProjects {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px
  }
  .privateProject-container {
    width: 49%;
    justify-content: space-between;
  }
}

#skill-sets {
  h2 {
    margin-bottom: 36px;
  }
  #skill-set-conainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .skill-set {
      width: 260px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

@media screen and (max-width: 781px) {
  #skill-sets .four-elements,
  #my-values .three-elements,
  #privateProjects .three-elements {
    width: 100%;
  }

  #about-me {
    flex-wrap: wrap-reverse;
    gap: 32px;
  }

  #externalLinks {
    gap: 0px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  #experiences-container {
    .experience-headline {
      gap: 12px;
      flex-direction: column;
    }
  }

  #skill-sets ul, #my-values ul, #privateProjects ul {
    flex-direction: column;
  }

  #skill-sets ul.icon, #privateProjects .privateProject-description .icons-ul {
    flex-direction: row;
  }

  #privateProjects .privateProject-container {
    width: 100%;
  }
}
