.main-column {
  width: 78%;
  float: right;
}

.about-me-description {
  margin: 4%;
}

.about-me-description {
  width: 54%;
  float: left;
}

.about-me-image {
  width: 40%;
  float: left;
}

.about-me-description {
  margin: 0% 0% 0% 6%;
}

.about-me-image {
  text-align: center;
}

.about-me {
  overflow: hidden;
}

.about-me h1 {
  font-size: 32px;
}

.about-me h2 {
  font-size: 23px;
  font-weight: 400;
  margin: 12px 0;
}
