@import "../Model.scss";

.headline .headline-list-item {
  padding: 8px 48px !important;
}

.headline .headline-text span {
  font-weight: bold !important;
}

.headline .headline-icon {
  color: $white;
}
