@import "../Model.scss";

.side-bar {
  background-color: #55b68a;
  width: 20%;
  float: left;
  color: $white;
  text-align: center;
  border-radius: 8px 0 0 8px;
  padding: 12px 1%;
}
.side-bar .divider {
  margin: 24px 0 8px !important;
}

.side-bar .view-resume-btn {
  color: $white !important;
  background-color: $black !important;
  text-transform: none !important;
}

.profile img {
  border-radius: 50%;
  width: 180px;
  padding: 12px 0px;
}

.profile h1 {
  font-size: 26px;
}

.profile p {
  font-size: 15px;
}

.social-link {
  margin: 16px 0;
}