@import "../../Model.scss";

.side-bar {
  width: 15%;
  float: left;
  color: $white;
  text-align: center;
  padding: 12px 1%;
}
.side-bar .divider {
  margin: 24px 0 8px !important;
}

.profile img {
  border-radius: 50%;
  width: 180px;
  padding: 4px 0px;
}

.profile h2 {
  font-size: 26px;
  padding: 8px 0;
}

.profile p {
  font-size: 15px;
}

.social-link {
  margin: 16px 0;
}

@media screen and (max-width: 781px) {
  .side-bar {
    width: 100%;
  }
}