@import "./Model.scss";

/* ---------- reset css start  ---------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* ---------- reset css end  ----------  */

p {
  margin: 12px 0;
  line-height: 24px;
}

#root {
  background-color: #ececec;
}

footer {
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.container {
  display: flex;
  width: calc(100% - (#{$frameSpace} * 2 ) );
  margin: auto;
  margin-bottom: $frameSpace;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  border-left: 4px solid $siteColor;
  padding-left: 8px;
}

h3 {
  margin-top: 16px;
  font-size: 26px;
}

.main-column {
  width: 83%;
  background: #fff;
  height: calc(100vh + #{$frameSpace});
  overflow: scroll;
  position: relative;
  top: $frameSpace;
  padding-bottom: $frameSpace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-column::-webkit-scrollbar {
  display: none;
}

.black-btn {
  color: $white !important;
  background-color: $black !important;
  text-transform: none !important;
}

.summary-description {
  width: 60%;
}

.summary-image {
  width: 40%;
}

.summary-image {
  text-align: center;
}

.main-thumnail {
  max-width: 75%;
}

.icon {
  display: inline-block;
  margin-bottom: 8px;

  li {
    display: inline-block;
  }
}

.app-icon {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.block {
  padding: 3% 6%;
}

.center {
  text-align: center;
}

.font-little-bold {
  font-weight: 600;
}

@media screen and (max-width: 781px) {
  .container, .main-column {
    width: 100%;
  }

  .main-column {
    top: 0;
    height: auto;
  }

  .summary-description,
  .summary-image {
    width: 100%;
  }

  .block {
    padding: 10% 3%;
  }
}
